@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

::-webkit-scrollbar{
    width: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    position: relative;
    display: flex;
    width: 100vw;
}