
.proCard{
    margin-top: 4rem;
}
.proCardLeft{
    position: relative;
    min-width: 35%;
}
.proCardLeft::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 550px;
    height: 550px;
    background-image: url("https://images.unsplash.com/photo-1527525443983-6e60c75fff46?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=385&q=80");
    background-position: 50%;
    background-size: 100%;
    background-color: rgba(255,255,255,0.6);
    /* background-blend-mode: lighten; */
    background-repeat: no-repeat;
    border-radius: 50%;
    transform: translate(-15%,-5%);
}

.proCardLeft:nth-child(1)::before{
    background-image: url("/static/Images/plantbook.jpeg");
}
.proCardLeft:nth-child(2)::before{
    background-image: url("/static/Images/ecostore.jpeg");
    transform: translate(15%,-5%);
}
.proCardRight{
    min-width: 65%;
    padding: 50px;
    background-image: linear-gradient(to left, rgba(0,0,0,0.1),rgba(0,0,0,0));
}
@media screen and (max-width: 400px) {
    .proCardRight{
        padding: 0;
    }
    .proCard{
        margin: 0;
    }
}
.proCardRight>div{
    margin: 2rem;
    padding: 0.45rem;
}
.proCardHeading{
    font-weight: 700;
    font-size: 40px;
}
.proCardSubHeading{
    font-size: 24px;
}
.proCardContainer{
    display: flex;
    flex-wrap: wrap;
}
.proCardLink{
    min-width: 200px;
    margin-right: 10px;
    padding: 10px;
    margin: .2rem;
    border-radius: 15px;
    background: rgba(0,255,0,0.2);
}
@media screen and (max-width: 950px) {
    .proCardLeft{
        width: 0;
        display: none;
    }
    .proCard{
        margin: 0;
    }
}