* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainWrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    font-size: 22px;

    background-color: black;
    color: white;
}