.showBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 40rem;
    color: aliceblue;
}
.showBox::before{
    content: " ";
    z-index: -1;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-image: url("{% url 'https://images.unsplash.com/photo-1498925008800-019c7d59d903?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80'%}");
    background-position: 50%;
    background-size: 100%;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: darken;
}
.showBox h1{
    font-size: 62px;
    margin-bottom: 30px;
}