{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/marketplace/singleCard.css' %}">
    <!-- <link rel="stylesheet" href="/EcoIN/frontend/static/marketplace/singleCard.css"> -->
    <title>Document</title>
</head>
<body>
    
    {% include 'components/navbar.html' %}

    <div class="main-cont">
        
        <img src="{% static 'images/' %}{{ Img }}" alt="Product Image" height="150px">

        <div class="info-cont">
            <h2>{{Name}}</h2>
            <h6>{{Company}}</h6>
            <h4>&#8377; <span>{{Price}}</span></h4>
            <p>{{Desc}}</p>
            <div class="btn-cont">
                <div>
                    <button class="toCart">Add to cart</button>
                    <button class="fav"><i onclick="myFunction(this)" class="fa fa-heart-o fa-heart"></i></button>
                </div>
                <div>
                    <a href="{% url 'MarketPlace:Payment' %}">
                        <button class="buyNow-btn" style="min-width:150px;width:10vw;max-width:400px;">Buy Now</button>
                    </a>
                </div>
            </div>
        </div>       

    </div>
    {% include 'components/footer.html' %}

    <script>
        var productData = {
            name: "Product Name",
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis diam eu mi dictum tempus. Aenean posuere eu urna eget condimentum.",
            image: "product-image.jpg",
            wishlisted: 0
        };

        var cards = document.getElementsByClassName("info-cont")
        for (let i = 0; i < cards.length; i++) {

            let wishclickcount = 0;
            var favButton = cards[i].querySelector(".fav");

            function myFunction(x) {
                wishclickcount += 1;
                productData.wishlisted = wishclickcount%2;
                x.classList.toggle("fa-heart-o");
            }
        }
    </script>
</body>
</html>