{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
  <link rel="stylesheet" href="{% static 'css/footercss.css' %}">
</head>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .mainWrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    width: 100vw;
  }
  a {
        text-decoration:none;
        padding: 8px 13px;
        font-size: 18px;
        font-weight: 500;
        padding: 9px 17px;
        border-radius: 5px;
        transition: all 0.3s ease;
        font-family: sans-serif;
      }
</style>
<body>
    
  <!-- Navbar -->
  {% include 'components/navbar.html' %}
  <!-- End Navbar-->
  
  <div class="mainWrapper">
   <main>
    <section>
      <h2>Welcome to our website!</h2>
      <p>We are Binary Brains and the Project's name is EcoIN.<br>A one stop solution for all the environment lovers.</br></p>
    </section>

    <section>
      <h2>Our Mission</h2>
      <p>We are building EcoIN - A software infrastructure coinciding with the UN SDGs.<br>Find all the services you need for yourself or your business right here. Experience the revolution. Be the revolution</br></p>
    </section>

    <section>
      <h2>Our Vision</h2>
      <p>1. Our platform intends to provide the users with a friendly interface where they can calculate CarbonFootPrint for their own or their businesses and can get personalised tips and suggestions on how they can reduce it to help save the nature.

        <br>2. Users can also proceed to live an eco friendly lifestyle by getting stuff from our very own marketplace called the EcoStore. Here they could get green alternatives for their daily needs and start living an eco-friendly lifestyle.
        EcoStore would also be a platform to promote Reusability. Here users could list the items that they no longer need but it could be useful to others and sell them to people who are looking to get cheaper alternatives.</br>
        
        <br>3. Awareness among users would be created by providing  quality Blogs on our EcoInfo Blog page. It would help the users learn more about leading a environment-friendly lifestyle and also how they could reduce their CarbonFootPrint and hence help save nature.</br></p>
    </section>

    <section>
      <h2>Meet the Team</h2>
      <div class="team-member">
        <img src="john.jpg">
        <h3>Sanchit</h3>
        <p>Team Admin</p>
      </div>
      <div class="team-member">
        <img src="jane.jpg">
        <h3>Anirudh</h3>
      </div>
      <div class="team-member">
        <img src="jane.jpg">
        <h3>Rishabh</h3>
      </div>
      <div class="team-member">
        <img src="jane.jpg"">
        <h3>Lakshay</h3>
      </div>
    </section>
  </main>
</div>

  <!--footer-->
  {% include 'components/footer.html' %}
  
</body>
</html>
